<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="vaccineGivingClinic/clinicBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>

        <div class="card widget-card border-light shadow-sm">
            <div class="card-body p-4">

                <div class="tab-content pt-4" id="profileTabContent">
                    <!--Profile Tab-->`
                    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="1">
                        <!-- Newsletter 1 - Bootstrap Brain Component -->
                        <div class="py-3 py-md-5 py-xl-10 bg-light">
                            <div class="container">
                                <div class="row justify-content-md-center">
                                    <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
                                        <h2 class="display-4 mb-4 mb-md-5 mb-xxl-6 text-center">Sign up for our newsletter and never miss a thing.</h2>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                                        <form class="row gy-3 gy-lg-0 gx-lg-2 justify-content-center">
                                            <div class="col-12 col-lg-8">
                                                <label for="email-newsletter-component" class="visually-hidden">Email Address</label>
                                                <input type="email" class="form-control bsb-form-control-3xl" id="email-newsletter-component" value="" placeholder="Email Address" aria-label="email-newsletter-component" aria-describedby="email-newsletter-help" required>
                                                <div id="email-newsletter-help" class="form-text text-center text-lg-start">We'll never share your email with anyone else.</div>
                                            </div>
                                            <div class="col-12 col-lg-3 text-center text-lg-start">
                                                <button type="submit" class="btn btn-primary bsb-btn-3xl">Subscribe</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>